[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.16"
aws-wsgi = {ref = "a5b800373c326e75f705d400c48f7df301409724", git = "https://github.com/DemocracyClub/awsgi.git"}
sentry-sdk = "*"
django-pipeline = "*"
whitenoise = "*"
libsass = "*"
dc-design-system = {ref = "0.1.1", git = "https://github.com/DemocracyClub/design-system.git"}
django-sesame = "*"
psycopg2-binary = "*"
django-ses = "*"
uk-election-ids = "*"
faker = "*"
requests = "*"
django-apiblueprint-view = "<3.0"
django-debug-toolbar = "*"
python-memcached = "*"
certifi = ">2022.9.24"
django-cors-headers = "*"
typing-extensions = ">=3.7.4"
dc-logging-utils = {file = "https://github.com/DemocracyClub/dc_logging/archive/refs/tags/1.0.2.tar.gz"}
urllib3 = "<2"
setuptools = "*"
djhtml = "==3.0.6"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-ruff = "*"
pytest-env = "<=1.1.5"
coveralls = ">=3.1.1"
pytest-cov = "<=5.0.0"
factory-boy = "*"
ipython = "*"
pytest-mock = "*"
ipdb = "*"
pytest-socket = "==0.7.0"
wheel = ">0.37.0"
ruff = "==0.6.9"
uvicorn = "==0.32.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true

[scripts]
collectstatic = "python manage.py collectstatic -c --noinput"
pytest = "pytest"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
start = "bash -c \"(cd api_endpoints/v1_postcode_lookup/ && uvicorn app:app --reload)\""
