[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0"
aws-wsgi = {ref = "a5b800373c326e75f705d400c48f7df301409724", git = "https://github.com/DemocracyClub/awsgi.git"}
sentry-sdk = "*"
django-pipeline = "*"
whitenoise = "*"
libsass = "*"
pip = "*"
install = "*"
dc-design-system = {ref = "0.1.1", git = "https://github.com/DemocracyClub/design-system.git"}
django-sesame = "*"
psycopg2-binary = "*"
django-ses = "*"
uk-election-ids = "*"
faker = "*"
requests = "*"
django-apiblueprint-view = "<3.0"
django-debug-toolbar = "*"
python-memcached = "*"
werkzeug = "==2.0.2"
djangorestframework = "*"
certifi = ">2022.9.24"
django-cors-headers = "*"

[dev-packages]
black = "==22.12.0"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-flakes = ""
pytest-black = "*"
pytest-env = "<=0.8.1"
coveralls = ">=3.1.1"
pytest-cov = "<=4.0.0"
factory-boy = "*"
ipython = "*"
pytest-mock = "*"
ipdb = "*"
pytest-socket = "==0.5.1"
wheel = ">0.37.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = "black ."
black-check = "black --check ."
collectstatic = "python manage.py collectstatic -c --noinput"
pytest = "pytest"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
