[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
aws-wsgi = {ref = "a5b800373c326e75f705d400c48f7df301409724", git = "https://github.com/DemocracyClub/awsgi.git"}
sentry-sdk = "*"
django-pipeline = "*"
whitenoise = "*"
libsass = "*"
pip = "*"
install = "*"
dc-design-system = {ref = "release/0.1.0", git = "https://github.com/DemocracyClub/design-system.git"}
django-sesame = "*"
psycopg2-binary = "*"

[dev-packages]
black = "==20.8b1"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-black = "*"
pytest-env = "*"
coveralls = ">=1.6,<3.0"
aws-sam-cli = "*"
pytest-cov = "==2.11.1"
factory-boy = "*"
ipython = "*"
pytest-mock = "*"
ipdb = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = "black ."
black-check = "black --check ."
collectstatic = "python manage.py collectstatic -c --noinput"
pytest = "pytest"
coveralls = "coveralls"
migratedb = "python manage.py migrate --noinput"
