// Actual Colours
$ECDarkBlue: #003057;
$ECEletricBlue: rgb(37, 178, 211);
$ECLightBlue: #e5f4f8;


// To use the EC colours with the DC design system
$black: #403F41;
$blackOpacity: rgba($black, 0.2);
$white: #fff;
$pinkForWhite: $ECDarkBlue;
$blueForWhite: #007CAD;
$blueForBlack: #00B6FF;
$blueLight: #E4F4FB;
$greenForWhite: #32841A;
$greenForBlack: #4BC427;
$redForWhite: #D91714;
$redForBlueLight: $redForWhite;
$amber: #FFC037;
