@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
@import 'partials/_type.scss';
@import 'partials/_forms.scss';
@import 'partials/_description-lists.scss';
@import 'partials/_button.scss';
@import 'partials/_call-to-action.scss';
@import 'partials/_details.scss';
@import 'partials/_stack.scss';
@import 'partials/_cluster.scss';
@import 'partials/_grid.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_breadcrumbs.scss';
@import 'partials/_card.scss';
@import 'partials/_candidate.scss';
@import 'partials/_table.scss';
@import 'partials/_header.scss';
@import 'partials/_subnav.scss';
@import 'partials/_footer.scss';
@import 'partials/_radio.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_select.scss';
@import 'partials/_filter.scss';
@import 'partials/_codeblock.scss';
@import 'partials/_dark.scss';
@import 'partials/_page.scss';
@import 'partials/_utilities.scss';

// // Generate atomic classes for documentation demos
@import 'partials/_classes-colors.scss';
@import 'partials/_classes-scales.scss';

@import 'ec_colours.scss';

$familyBody: "arial", sans-serif;

body {
  font-family: "helvetica", "arial", sans-serif;
}

$scope: false;

@mixin optional-styles {
  @include description-lists;
  @include button;
  @include cta;
  @include cluster;
  @include grid;
  @include sidebar;
  @include details;
  @include card;
  @include candidate;
  @include breadcrumbs;
  @include table;
  @include header;
  @include subnav;
  @include footer;
  @include radio;
  @include checkbox;
  @include page;
  @include select;
  @include filter;
  @include codeblock;
}

@if $scope {
  .ds-scope {
    font-size: clamp(#{$s1}, 1.5vw, #{$s2});
    @include fontMain;
    @include type;
    @include forms;
    @include stack;
    @include optional-styles;
    @include dark;
    @include utilities;
  }
} @else {
  :root {
    font-size: clamp(#{$s1}, 1.5vw, #{$s2});
    @include fontMain;
  }

  body {
    margin: 0;
  }

  @include type;
  @include forms;
  @include stack;
  @include optional-styles;
  @include dark;
  @include utilities;
}
body {
  margin: 0;
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding:0 1.25em;

}

.header-wrapper {
  background-color: $ECDarkBlue;
}

.ds-header {
  @include container;
  svg {
    fill: #fff;
    margin: 1.25em 0;
    max-width:180px;
  }

  [aria-current], nav a:hover {
    border-bottom-color: $ECEletricBlue;
  }

  nav a {
    border-bottom-color: $ECDarkBlue;
    color: $white;
  }
}

.ds-page {
  overflow-x: unset;
}

.ds-page main {
  @include container;
  margin-top: 2.384185rem;
  padding: 0 1.25rem;
}

.sub-header {
  background-color: $ECLightBlue;
  border-top: 1px $ECEletricBlue solid;
  color: $ECDarkBlue;
  h2 {
    font-size: $s4;
    line-height: 2em;
    vertical-align: center;
  }
}

.container  {
  @include container;
}


code, pre {
  background-color: #DDDDDD;
  padding:3px;
  font-family: "Courier New", monospace;
}

pre {
  display: block;
  padding: 1em;
  max-width: 40em;
  overflow-x: scroll;
  max-height: 20em;
  @extend .ds-codeblock;
  white-space: nowrap;

}

.mermaid {
  white-space: pre;
  @extend .ds-codeblock
}

.api-resource, .api-resource-group {
  @extend .ds-stack;
}

.api-resource * {
  @extend .ds-stack-smaller
}

.api-action {
  display: flex;
  flex-wrap: wrap;
  margin: -1em;
  margin-top: 3.05176rem;
  >*:first-child {
    flex-basis: 100%;
    @extend .ds-stack;
  }
  >* {
    flex: 1 0 20em;
    @extend .ds-stack;
    flex-basis: 45%;
    margin-right:1em
  }
}

.api-description {
  @extend .ds-stack-smaller;
}

.api-action-transaction {
  @extend .ds-card;
  padding:1em;
}

.phase-banner {
  padding-top:0.5em;
  background-color: $white;
  strong {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: $ECEletricBlue;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
  }

  .container {
    background-color: inherit;
  }
}
