{% extends "base.html" %}
{% block content %}
  <h1>Developer API</h1>
  <p>
    There is nothing to see here just yet. This site will get updated over the next few weeks.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi cum deleniti eligendi facere id ipsam iste iure laborum magnam, nam, numquam, placeat quia quo! Cupiditate doloremque nesciunt reprehenderit.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi cum deleniti eligendi facere id ipsam iste iure laborum magnam, nam, numquam, placeat quia quo! Cupiditate doloremque nesciunt reprehenderit.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi cum deleniti eligendi facere id ipsam iste iure laborum magnam, nam, numquam, placeat quia quo! Cupiditate doloremque nesciunt reprehenderit.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi cum deleniti eligendi facere id ipsam iste iure laborum magnam, nam, numquam, placeat quia quo! Cupiditate doloremque nesciunt reprehenderit.
  </p>



{% endblock %}
