{% extends "base.html" %}

{% block title %}
  Election information API
{% endblock %}

{% block content %}
  <div class="ds-stack-smaller">

    <h1 class="phase-banner">Page heading</h1>
    <p>
      The Electoral Commission provides access to a year-round election lookup and polling station finder, powered by a
      new election information API and delivered in partnership with Democracy Club.
    </p>
    <p>This tool helps people quickly find out which elections are taking place in their area, providing details of
      their polling station and local council addresses. The lookup is widely used, for example during the 2019 General
      Election it handled 3.5 million postcode searches in election week alone.
    </p>

    <h2><a href="{% url "widget_view" %}">Lookup widget</a></h2>
    <p>
      We provide a free <a href="{% url "widget_view" %}">lookup widget</a> which you can easily embed on your website, getting accurate, helpful
      information into the hands of your users without directing them away from your site.
    </p>

    <h2><a href="{% url "api_docs" %}">Election information API</a></h2>
    <p>
      If you feel your users would benefit from this information, but don’t want to use our default lookup widget
      design, we also provide an <a href="{% url "api_docs" %}">API</a> which your software developers can use to create your own bespoke election information tools.
    </p>
    <p>Our election information API is a single information portal for voters in Great Britain, and powers our embeddable
      lookup widget. It is accessible, easy-to-use, and provides all the information you need to quickly develop your own
      digital elections lookup tools for voters.
    </p>
    <p>
      The majority of local councils in Great Britain rely on our API as a core
      part of their election communications. And crucially, if you access data via our API, you can use it with confidence
      and trust in its impartiality.
    </p>


  </div>

{% endblock %}
