{% extends "base.html" %}

{% block content %}
  <div class="ds-stack-smaller">
    <h1 class="phase-banner">Electoral Commission Application Programming Interface (‘API’) Licence</h1>


    <h2>Terms and conditions</h2>

    <h3>1. About this Licence</h3>
    <p>The Electoral Commission (‘EC’) licenses Information under an Open Government Licence wherever possible. These
      Licence (‘the Licence’) terms and conditions are based on version 3.0 of the Open Government Licence, with specific
      amendments for the EC.</p>

    <p>For example: Information that contains third party data that we only have permissions to release to certain people
      or with certain restrictions. We need to apply special conditions to protect use of personal data, where we would
      otherwise have to refuse a Licence.</p>

    <p>The EC may at any time revise this Licence without notice. It is your responsibility to check the terms and
      conditions of this Licence.</p>

    <p>All public EC API data (or 'open data') is freely released here for developers to use in their own software and
      services. We encourage software developers to use these feeds to present Information in innovative ways - providing
      they adhere to the API terms and conditions.</p>

    <h3>2. Definitions</h3>
    <p>In this Licence, the terms below have the following meanings:</p>

    <p>‘Information’ means information protected by copyright or by database right (for example, literary and artistic
      works, content, data and source code) offered for use under the terms of this Licence;</p>

    <p>‘Use’ means doing any act which is restricted by copyright or database right, whether in the original medium or in
      any other medium, and includes without limitation distributing, copying, adapting, modifying as may be technically
      necessary to use it in a different mode or format;</p>

    <p>“Personal data” in this Licence includes Information relating to natural persons who:
      can be identified or who are identifiable, directly from the Information in question; or
      who can be indirectly identified from that Information in combination with other Information;</p>

    <p>‘You’, and ‘your’ means the natural or legal person, or body of persons corporate or incorporate, acquiring rights
      in the Information (whether the Information is obtained directly from the Licensor or otherwise) under this
      Licence;</p>

    <p>‘We’, ‘us’ and ‘our’ means the Electoral Commission (‘the EC’).</p>

    <h3>3. Using Information under this Licence</h3>
    <p>Use of copyright and database right material expressly made available under this Licence (the ‘Information’)
      indicates your acceptance of the terms and conditions.</p>

    <p>The EC grants You a worldwide, royalty-free, perpetual, non-exclusive Licence to use the Information, subject to
      conditions, as varied from time to time.</p>

    <p>You must not display or use the Information on any website, app or any other similar means which:</p>
    <ul>
      <li>Contain any material which is defamatory of any person;</li>
      <li>Contain any material which is obscene, offensive, hateful or inflammatory;</li>
      <li>Promote sexually explicit material;</li>
      <li>Promote violence;</li>
      <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</li>
      <li>Infringe any intellectual property right including, copyright, database right or trade mark, of any other person;</li>
      <li>Be likely to deceive any person;</li>
      <li>Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
      <li>Promote any illegal activity;</li>
      <li>Be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety;</li>
      <li>Be likely to harass, upset, embarrass, alarm or annoy any other person;</li>
      <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person;</li>
      <li>Give the impression that they emanate from us, if this is not the case; and</li>
      <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
    </ul>
    <p>This Licence does not affect Your freedom under fair dealing or fair use or any other copyright or database right
      exceptions and limitations.</p>

    <p>This Licence shall apply from the date of registration and shall continue for the period the Information is
      provided to You or You breach the Licence.</p>

    <p>Your registration details must be current and you must update the registration details with us as and when they
      occur.</p>

    <h3>4. Rights</h3>
    <p>You are free to:</p>
    <ul>
      <li>Copy, publish, distribute and transmit the Information, in whole or in part;</li>
      <li>Exploit the Information commercially and non-commercially for example, by combining it with other Information, or
        by including it in Your own product or application.</li>
    </ul>
    <h3>5. Requirements</h3>
    <p>You must, where You do any of the above:</p>

    <p>Not mislead others or misrepresent the Information or its source;</p>

    <p>Acknowledge the source of the Information in your product or application by including or linking to any
      attribution statement specified by us and, where possible, provide a link to this Licence;</p>

    <p>Acknowledge the EC as the source of the Information by including the following attribution statement “Contains
      Electoral Commission Information © Electoral Commission and/or database right”;</p>

    <p>Acknowledge that this Information contains Ordnance Survey derived data by including the following attribution
      statement:</p>
    <p>"Contains OS data © Crown copyright and database rights [year] Royal Mail data © Royal Mail copyright
      and database right [year]"</p>

    <p>Ensure our intellectual property rights, including all logos, design rights, patents and trademarks, are
      protected;</p>

    <p>Application Rate Limiting: The EC reserves the right to throttle or limit access to feeds when it is believed the
      overall service is being degraded by excessive use; You must contact The EC if You expect to make a high volume of
      requests to the API.</p>

    <p>Ensure the information You provide on registration is accurate;</p>

    <p>These are important conditions of this Licence and if You fail to comply with them the rights granted to You under
      this Licence, or any similar Licence granted by the EC, will end automatically.</p>

    <h3>6. Exemptions</h3>
    <p>This Licence does not:</p>

    <p>Cover Information that has not been accessed by way of publication or disclosure under information access
      legislation by or with our consent;</p>

    <p>Cover logos, except where they form an integral part of a document or dataset. This Licence does not permit use of
      the EC logo without our specific written permission;</p>

    <p>Cover other intellectual property rights, including patents, trade marks, and design rights;</p>

    <p>Transfer any intellectual property rights in the Information to You or any third party;</p>

    <p>Provide any rights to use the Information after this Licence has ended;</p>

    <p>Provide any rights to use any other intellectual property rights, including patents, trade marks, and design
      rights or permit You to:</p>

    <p>Use any automated system, software or process to extract content and/or data, including trawling, data mining and
      screen scraping</p>

    <p>These are important conditions of this Licence and, if You fail to comply with them, the rights granted to You
      under this Licence, or any similar Licence granted by the EC, will end automatically.</p>

    <p>It is up to you ("You") to regularly review the Licence, which will be available on this website, in case there
      are any changes. Your continued use of the data You have opted to receive ("Information") after a change has been
      made to the Licence will be treated as Your acceptance of that change.</p>

    <h3>7. Non-endorsement</h3>
    <p>This Licence does not grant You any right to use the Information in a way that suggests any official status or
      that the EC endorses You or Your use of the Information.</p>

    <h3>8. Non warranty</h3>
    <p>The Information is licensed ‘as is’ and we exclude all representations, warranties, obligations and liabilities in
      relation to the Information to the maximum extent permitted by law.</p>

    <p>We are not liable for any errors or omissions in the Information and shall not be liable for any inconvenience,
      loss, injury or damage of any kind caused by its use. We do not guarantee the continued supply of the
      Information.</p>

    <h3>9. Governing Law</h3>
    <p>This Licence is governed by the laws of England & Wales.</p>

    <h3>10. Privacy</h3>
    <p>This service provides Information to users based on their postcode. We store this postcode anonymously, to produce
      important statistics about usage of the service in different areas of the UK. This data helps us to improve the
      service we offer.</p>

    <p>The EC privacy policy will apply to all personal information collected in connection with Your use of the Service.
      Further information can be found on our privacy and cookies pages.</p>

    <h3>Feedback</h3>
    <p>We also welcome feedback to help us improve the service we’re offering.</p>


  </div>


{% endblock %}
