{%  extends "base.html" %}

{% block content %}
  <h1 class="phase-banner">Election lookup widget</h1>
  <p>
    Embed our free lookup widget on your website, and give your users access to postcode specific information about
    voting in their area. By entering their postcode, your users can quickly access information on the following:
  </p>
  <ul>
    <li>Upcoming elections, including the election type and date</li>
    <li>Polling station information, including address</li>
    <li>Candidate information</li>
    <li>Contact details for electoral services teams at local councils, and electoral registration offices in
      Scotland – useful for submitting postal or proxy vote application forms
    </li>
  </ul>
  <p>You can add the Electoral Commission’s election lookup widget to any website.</p>
  <p>Here’s how the lookup widget will look on your site. Feel free to test it by entering a
    postcode, bearing in mind that we add data in the run up to the polls.</p>
  <figure>
    <div id="widget-area">
      <div id="dc_wdiv" data-language="en" aria-live="polite" role="region" data-candidates="true">
      </div>
      <script type="text/javascript"
              src="{% url "widget_js" %}">
      </script>
    </div>
  </figure>

  <p>First, choose from the options below and hit ‘Generate’.</p>
  <form id="widget-options">
    <fieldset>
      <legend>Language options</legend>
      <div class="ds-stack-smallest">

        <label for="no-lang" class="ds-field-radio">
          <input type="radio" name="language" id="no-lang" value="no-lang" checked="checked">
          <span>In English only</span>
        </label>
        <label for="en" class="ds-field-radio">
          <input type="radio" name="language" id="en" value="en">
          <span>With language toggle (Default English)</span>
        </label>

        <label for="cy" class="ds-field-radio">
          <input type="radio" name="language" id="cy" value="cy">
          <span>With language toggle (Default Welsh)</span>
        </label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Candidate options</legend>
      <div class="ds-stack-smallest">
        <label for="with-candidates" class="ds-field-radio">
          <input type="radio" name="candidates" id="with-candidates" value="true" checked="checked">
          <span>With candidates</span>
        </label>
        <label for="without-candidates" class="ds-field-radio">
          <input type="radio" name="candidates" id="without-candidates" value="false">
          <span>Without candidates</span>
        </label>
      </div>
    </fieldset>
    <button type="submit" class="ds-button">Generate</button>
  </form>

  <p>Then, use the code to embed the lookup widget in your website.</p>
  <div id="code-area">
  <pre><code>
  &lt;noscript&gt;
    &lt;a href="https://www.electoralcommission.org.uk/i-am-a/voter/your-election-information">
      Find election information at
      &lt;span aria-label="The Electoral Commision">
      electoralcommission.org.uk&lt;/span&gt;
    &lt;/a&gt;
  &lt;/noscript&gt;

  &lt;div id="dc_wdiv" aria-live="polite" role="region"
    data-candidates="true"&gt;
  &lt;/div&gt;
  &lt;script type="text/javascript" src="https://api.electoralcommission.org.uk/widget/widget.js"&gt;
  &lt;/script&gt;
  </code></pre>
  </div>

  <script>
    var form = document.querySelector('#widget-options');
    if (form) {
      form.addEventListener('submit', handleWidgetOptions);
    }

    function handleWidgetOptions(event) {
      event.preventDefault();
      createWidgetVersion(form.elements.language.value, form.elements.candidates.value);
    }

    function getEmbedCode(customAttributes) {
      return '<pre><code>&lt;noscript&gt;\n' +
      '&lt;a href=&quot;https://www.electoralcommission.org.uk/i-am-a/voter/your-election-information&quot;&gt;Find election information at\n' +
      '&lt;span aria-label=&quot;The Electoral Commission&quot;&gt;electoralcommission.org.uk&lt;/span&gt;&lt;/a&gt;' +
      '&lt;/noscript&gt;\n' +
      '&lt;div id="dc_wdiv" ' + customAttributes + '&gt;&lt;/div&gt;\n' +
      '&lt;script type="text/javascript"\n' +
      '  src="https://api.electoralcommission.org.uk/widget/widget.js"&gt;\n' +
      '&lt;/script&gt;\n' +
      '</code></pre>\n';
    }

    function makeAttributeList(language, candidates) {
      var attrs = '';
      if ((language === 'en') || (language === 'cy')) {
        attrs = 'data-language="' + language + '" ';
      }
      if ((candidates === 'true') || (candidates === 'false')) {
        attrs = attrs + ' data-candidates="' + candidates + '"';
      }
      return attrs + ' aria-live="polite" role="region"';
    }

    function makeWidget(language, candidates) {
      var div = document.createElement('div');
      div.setAttribute('id', 'dc_wdiv');
      if ((language === 'en') || (language === 'cy')) {
        div.setAttribute('data-language', language);
      }
      if ((candidates === 'true') || (candidates === 'false')) {
        div.setAttribute('data-candidates', candidates);
      }
      div.setAttribute('aria-live', 'polite');
      div.setAttribute('role', 'region');
      div.setAttribute('data-candidates', 'true');
      return div;
    }

    function makeScript() {
      var script = document.createElement('script');
      script.type = "text/javascript";
      script.src = "https://api.electoralcommission.org.uk/widget/widget.js";
      return script;
    }

    function createWidgetVersion(language, candidates) {
      var widgetArea = document.querySelector('#widget-area');
      var codeArea = document.querySelector('#code-area');
      var widget = makeWidget(language, candidates);
      var script = makeScript();
      var embedCode = getEmbedCode(makeAttributeList(language, candidates));
      widgetArea.innerHTML = '';
      widgetArea.appendChild(widget);
      widgetArea.appendChild(script);
      codeArea.innerHTML = embedCode;
    }
  </script>
{% endblock %}
