<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <title>{% block title %}
      Election information API
    {% endblock %}</title>
    {% load pipeline %}
    {% stylesheet 'styles' %}
  </head>
  <body>
    <div class="ds-page">
      <div class="header-wrapper">
        <header>
          <div class="ds-header">
            <a class="ds-skip-link" href="#main">skip to content</a>
            <a class="ds-header-home" href="/">
              {% include "logo.html" %}
            </a>
            <nav class="ds-cluster">
              <ul>
                <li>
                  <a href="{% url "home_view" %}">Home</a>
                </li>
                <li>
                  <a href="{% url "api_docs" %}">API docs</a>
                </li>
                <li>
                  <a href="{% url "widget_view" %}">Widget</a>
                </li>
                <li>
                  {% if request.user.is_authenticated %}
                    <a href="{% url 'users:logout' %}">Logout</a>
                  {% else %}
                    <a href="{% url 'users:login' %}">Login / Register</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
          </div>
          <div class="sub-header">
            <div class="container">
              <h1 class="ds-h2">Developer API</h1>
            </div>
            <div class="phase-banner">
              <div class="container">
                <p><strong>Alpha</strong>  This is a new service – your
                  <a href="mailto:api@electoralcommission.org.uk">feedback</a> will help us to improve it.</p>
              </div>
            </div>
          </div>

        </header>
      </div>



      <main id="main" class="ds-stack">
        {% block subnav %}

        {% endblock %}
        <!-- TODO make these prettier -->
        {% if messages %}
          <div role="alert">
            {% for message in messages %}
              <div class="{% if 'error' in message.tags %}ds-error{% else %}ds-padded{% endif %}">
                <h5>{{ message }}</h5>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% block content %}

        {% endblock %}
      </main>

    </div>
    <footer class="ds-footer">
      <div class="ds-block-centered ds-text-centered ds-stack">
        <div class="ds-cluster-center">
          <ul>
            <li><a href="https://www.electoralcommission.org.uk/contact-us">Contact us</a></li>
            <li><a href="https://www.electoralcommission.org.uk/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>
        <div class="ds-copyright">
          <p>Copyright © 2021 Electoral Commission</p>
        </div>
      </div>
    </footer>

  </body>
</html>
