<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC API</title>
    {% load pipeline %}
    {% stylesheet 'styles' %}
  </head>
  <body>
    <div class="ds-page">
      <header class="ds-header">
        <a class="ds-skip-link" href="#main">skip to content</a>
        <a class="ds-header-home" href="/">
          {% include "logo.html" %}
        </a>
        <nav class="ds-cluster">
          <ul>
            <li>
              <a href="#" aria-current="page">Home</a>
            </li>
            <li>
              <a href="https://github.com/DemocracyClub/ec-api-proxy">Project GitHub</a>
            </li>
          </ul>
        </nav>
      </header>

      <main id="main" class="ds-stack">
        {% block content %}

        {% endblock %}
      </main>

    </div>
  </body>
</html>
