<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <title>EC API</title>
    {% load pipeline %}
    {% stylesheet 'styles' %}
  </head>
  <body>
    <div class="ds-page">
      <div class="header-wrapper">
        <header class="ds-header">
          <a class="ds-skip-link" href="#main">skip to content</a>
          <a class="ds-header-home" href="/">
            {% include "logo.html" %}
          </a>
          <nav class="ds-cluster">
            <ul>
              <li>
                <a href="{% url "home_view" %}">Home</a>
              </li>
              <li>
                <a href="{% url "api_docs" %}">API docs</a>
              </li>
              <li>
                <a href="{% url "widget_view" %}">Widget</a>
              </li>
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                  <a href="{% url 'users:login' %}">Login / Register</a>
                {% endif %}
              </li>
              <li>
                <a href="https://github.com/DemocracyClub/ec-api-proxy">Project GitHub</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="sub-header">
        <div class="container">
          <h2 class="">Developer API</h2>
        </div>
      </div>


      <main id="main" class="ds-stack">
        {% block subnav %}

        {% endblock %}
        <!-- TODO make these prettier -->
        {% if messages %}
          <div role="alert">
            {% for message in messages %}
              <div class="{% if 'error' in message.tags %}ds-error{% else %}ds-padded{% endif %}">
                <h5>{{ message }}</h5>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% block content %}

        {% endblock %}
      </main>

    </div>
  </body>
</html>
